btfiles/
btimgs/
autobt/.scrapy/
pub/.scrapy/

autobt/autobt/*.pyc
autobt/autobt/spiders/*.pyc

pub/pub/*.pyc
pub/pub/spiders/*.pyc
pub/pub/settings.py

wbimgs/
wbsource/wbsource/*.pyc
wbsource/wbsource/spiders/*.pyc
