div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            div.nav-collapse.collapse
                ul.nav
                    li.active
                        a test
                    li
                        a test1
div.container.grab
    h1= title
    p Welcome to #{title}
    ul.thumbnails
script
    get_grab();
