!!!
html
  head
    title= title
    link(rel='stylesheet', href='/bt/stylesheets/style.css')
    link(rel='stylesheet', href='/bt/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/bt/stylesheets/bootstrap-responsive.css')
    script(src='/bt/javascripts/bootstrap.js')
    script(src='/bt/javascripts/jquery-1.7.2.min.js')
    script(src='/bt/javascripts/all.js')
  body!= body
